/*
		@package jansentheme
*/
/* ==========================================================================
   RESET
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ==========================================================================
   GLOBAL
   ========================================================================== */
body {
  font-family: "Raleway", "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif; }

.background-image {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

.table {
  display: table;
  width: 100%;
  height: 100%; }
  .table .table-cell {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle; }

/* ==========================================================================
   HEADER
   ========================================================================== */
.header-container {
  position: relative;
  display: block;
  height: 375px;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4); }

.site-title {
  color: #fff;
  margin: 0;
  font-size: 3.5em; }

.site-description {
  font-size: 14px;
  color: #fff;
  margin-top: 1em; }

.nav-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }

/* ==========================================================================
   NAVBAR
   ========================================================================== */
.navbar-jansen {
  text-align: center;
  border: none;
  border-radius: 0;
  min-height: auto;
  margin-bottom: 0;
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1); }
  .navbar-jansen ul {
    float: none; }
  .navbar-jansen li {
    float: none;
    display: inline-block; }
    .navbar-jansen li.active a {
      opacity: 1; }
      .navbar-jansen li.active a:after {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        opacity: 1; }
    .navbar-jansen li.open a {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.1) !important; }
      .navbar-jansen li.open a:after {
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
        opacity: 0 !important; }
      .navbar-jansen li.open a:hover, .navbar-jansen li.open a:focus, .navbar-jansen li.open a:visited {
        background-color: rgba(0, 0, 0, 0.1) !important; }
        .navbar-jansen li.open a:hover:after, .navbar-jansen li.open a:focus:after, .navbar-jansen li.open a:visited:after {
          -webkit-transform: translateY(10px);
          -moz-transform: translateY(10px);
          -ms-transform: translateY(10px);
          -o-transform: translateY(10px);
          opacity: 0 !important; }
    .navbar-jansen li a {
      text-transform: uppercase;
      color: #fff !important;
      font-size: 12px;
      opacity: 0.7;
      letter-spacing: 0.05em;
      background: none;
      -webkit-transition: opacity 320ms ease;
      -moz-transition: opacity 320ms ease;
      -ms-transition: opacity 320ms ease;
      -o-transition: opacity 320ms ease;
      transition: opacity 320ms ease; }
      .navbar-jansen li a:hover, .navbar-jansen li a:focus, .navbar-jansen li a:visited {
        background: none;
        opacity: 1; }
        .navbar-jansen li a:hover:after, .navbar-jansen li a:focus:after, .navbar-jansen li a:visited:after {
          -webkit-transform: translateY(0);
          -moz-transform: translateY(0);
          -ms-transform: translateY(0);
          -o-transform: translateY(0);
          opacity: 1; }
      .navbar-jansen li a:after {
        content: '';
        position: absolute;
        display: block;
        left: 15px;
        right: 15px;
        bottom: 14px;
        height: 2px;
        background: #fff;
        -webkit-transition: all 320ms ease;
        -moz-transition: all 320ms ease;
        -ms-transition: all 320ms ease;
        -o-transition: all 320ms ease;
        transition: all 320ms ease;
        opacity: 0;
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px); }
    .navbar-jansen li ul.dropdown-menu {
      border: 0;
      border-radius: 0;
      background: rgba(0, 0, 0, 0.75); }
      .navbar-jansen li ul.dropdown-menu li {
        display: block; }
        .navbar-jansen li ul.dropdown-menu li a:hover, .navbar-jansen li ul.dropdown-menu li a:focus, .navbar-jansen li ul.dropdown-menu li a:visited {
          background: rgba(0, 0, 0, 0.25) !important;
          color: #fff; }

/*# sourceMappingURL=jansen.css.map */
